{
  "openapi": "3.1.0",
  "info": {
    "title": "Xquik API",
    "version": "1.0",
    "description": "REST API for X automation workflows"
  },
  "servers": [
    {
      "url": "https://xquik.com"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/api/v1/x/tweets/search": {
      "get": {
        "operationId": "searchTweets",
        "summary": "Search Tweets",
        "tags": ["x"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tweet search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TweetSearchResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "schemas": {
      "TweetSearchResponse": {
        "type": "object",
        "required": ["tweets"],
        "properties": {
          "tweets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tweet"
            }
          }
        }
      },
      "Tweet": {
        "type": "object",
        "required": ["id", "text"],
        "properties": {
          "id": {
            "type": "string"
          },
          "text": {
            "type": "string"
          }
        }
      }
    }
  }
}
